@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(82deg, rgba(0,0,0,0.938813025210084) 17%, rgba(0,0,0,0.865983893557423) 64%, rgba(0,0,0,0.5914740896358543) 100%);
    color: #ffffff;
    font-family: 'DM Sans', sans-serif;
}

#app{
    width: 1440px;
    margin: 0 auto;
}

.padding-left{
    padding-top: 20px;
    padding-left: 95px;
}

.select-button__style {
    border: 2px solid #FED530;
    padding: 5px 20px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background: #FED530;
    cursor: pointer;
}
.has-content{
    width: 135px;
    max-width: 150px;
    overflow: initial;
    position: relative;
}
.has-content:hover::after{
    opacity: 1;
    content: attr(data-titles);
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background-color: transparent;
    padding: 3px 5px;
    white-space: nowrap;
    transition: all .3s;
    display:flex;
    border-radius: 5px;
    width: 200px;
}
.scroll-list {
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
}
.scroll-list::-webkit-scrollbar{
    height: 10px;
    width: 8px;
}
.scroll-list::-webkit-scrollbar-track{
    background-color: transparent;   
}
.scroll-list::-webkit-scrollbar-thumb{
    background-color: yellow;
    height: 38px;
    border-radius: 10px;
}
